.prose blockquote {
  margin: 1.5em 0 !important;
  padding: 0.5em 1em !important;
  border-left-width: 4px !important;
}

.prose pre {
  margin: 1.5em 0 !important;
  padding: 1em !important;
  border-radius: 0.5em !important;
}

.prose table {
  margin: 1.5em 0 !important;
} 